<!DOCTYPE html>
<html>
  <head>
    <title>{{block "title" .Data}}No title{{end}} — Day20</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icons -->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="{{"/favicon.ico" | asStaticURL}}">
    <link rel="icon" type="image/png" sizes="256x256" href="{{"/favicon.png" | asStaticURL}}">
    <link rel="icon" type="image/svg+xml" sizes="any" href="{{"/favicon.svg" | asStaticURL}}">
    <link rel="apple-touch-icon" type="image/png" sizes="256x256" href="{{"/favicon.png" | asStaticURL}}">

    <!-- 3rd party libs -->
    <script src="{{"/js/htmx.js" | asStaticURL}}"></script>
    <script src="{{"/js/htmx-ext-ws.js" | asStaticURL}}"></script>
    <link rel="stylesheet" type="text/css" href="{{"/css/picnic.css" | asStaticURL}}">

    <!-- our libs -->
    <script src="{{"/js/day20.js" | asStaticURL}}"></script>
    <link rel="stylesheet" type="text/css" href="{{"/css/day20.css" | asStaticURL}}">

    {{block "head" .Data}}{{end}}
  </head>
  <body>
    {{if .WithNav}}
      <nav>
        <a href="{{"/" | asURL}}" class="brand">Day20</a>
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button icon-menu"></label>
        <div class="menu">
          <a href="{{"/" | asURL}}" class="pseudo button">Rooms</a>
          <a href="{{"/users" | asURL}}" class="pseudo button">Users</a>
          <a href="{{"/contests" | asURL}}" class="pseudo button">Contests</a>
          {{if .WithAuth}}
            {{if .User}}
              <a href="{{"/profile" | asURL}}" class="pseudo button icon-user">{{.User.Username}}</a>
              <a href="{{"/logout" | asURL}}" class="error button">Log out</a>
            {{else}}
              <a href="{{"/login" | asURL}}" class="button">Log in</a>
            {{end}}
          {{end}}
        </div>
      </nav>
    {{end}}
    {{block "body-outer" .Data}}
      <main>
        {{block "body" .}}{{end}}
      </main>
    {{end}}
  </body>
</html>
