<div id="player-{{.Color}}" {{- .AJAXAttrs -}}>
  <section class="player-header">
    {{if .Clock}}
      <section>
        <div
          id="{{.Color}}-chess-clock"
          class="label {{.Color}}-chess-clock"
          data-clock-msecs="{{.Clock.Msecs}}"
          data-clock-active="{{.Clock.Active}}"
          hx-on:htmx:before-swap="{{.ClockVar}}.stop()"
        ></div>
        <script>
          var {{.ClockVar}} = newClock('{{.Color}}-chess-clock')
        </script>
      </section>
    {{end}}
    <section class="player-info">
      <div>
        <span class="player-color">{{.ColorText}}</span>
        {{if .Active}}
          <span class="icon-record icon-cl-green"></span>
        {{else}}
          <span class="icon-record-outline icon-cl-gray"></span>
        {{end}}
      </div>
      <div class="player-name">{{.Name}}</div>
    </section>
  </section>
  <section class="pv">{{.PV}}</section>
  <section class="flex four player-stats">
    <div>
      <div class="key">Score</div>
      <div>{{.Score}}</div>
    </div>
    <div>
      <div class="key">Depth</div>
      <div>{{.Depth}}</div>
    </div>
    <div>
      <div class="key">Nodes</div>
      <div>{{.Nodes}}</div>
    </div>
    <div>
      <div class="key">NPS</div>
      <div>{{.NPS}}</div>
    </div>
  </section>
</div>
