{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{block "title" .Data}}No title{{end}} — Day20</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 3rd party libs -->
    <script src="{{"/js/jquery.js" | asStaticURL}}"></script>
    <script src="{{"/js/htmx.js" | asStaticURL}}"></script>
    <script src="{{"/js/htmx-ext-ws.js" | asStaticURL}}"></script>

    <!-- our libs -->
    <script src="{{"/js/day20.js" | asStaticURL}}"></script>

    {{block "head" .Data}}{{end}}
  </head>
  <body>
    {{if .WithAuth}}
      {{if .User}}
        <div>
        Hello, <a href="/profile">{{.User.Username}}</a>!
        <a href="/logout">Log out</a>
      {{else}}
        <div>
          You are not logged in.
          <a href="/login">Log in</a>
        </div>
      {{end}}
    {{end}}
    {{block "body" .Data}}{{end}}
  </body>
</html>
{{end}}
{{define "ajax"}}{{end}}
