{{define "title"}}Contests{{end}}

{{define "body"}}
  <section>
    {{if .RunningOnly}}
      <a class="button" href="{{"/contests" | asURL}}">Show all</a>
    {{else}}
      <a class="button" href="{{"/contests?running=true" | asURL}}">Show running</a>
    {{end}}
    {{if .CanStartContests}}
      <a class="button success icon-plus" href="{{"/contests/new" | asURL}}">New contest</a>
    {{end}}
  </section>
  <table class="compact">
    <tr>
      <th class="expand">Name</th>
      <th>Kind</th>
      <th>Status</th>
      <th>Progress</th>
      <th>Result</th>
      <th></th>
    </tr>
    {{range $i, $contest := .Contests}}
      <tr>
        <td class="expand">
          <a href="{{.ID | printf "/contest/%v" | asURL}}">{{.Name}}</a>
        </td>
        <td>{{.Kind.PrettyString}}</td>
        <td>
          <span class="contest-status-{{.Status}}">{{.Status.PrettyString}}</span>
        </td>
        <td>{{template "part/progress" .Progress}}</td>
        <td>{{.Result}}</td>
        <td>
          <a class="smaller button" href="{{.ID | printf "/contest/%v/pgn" | asURL}}" target="_blank">PGN</a>
        </td>
      </tr>
    {{end}}
  </table>
{{end}}
