{{define "title"}}Invitations{{end}}

{{define "body"}}
  <div>
    <form action="/invites" method="post">
      <span>Generate new link:</span>
      {{.CSRFField}}
      <input type="hidden" name="action" value="invite">
      <label for="invite-label">Label:</label>
      <input type="text" name="invite-label" id="invite-label">
      <span>Permissions:</span>
      {{range $i, $perm := .Perms}}
        <input type="checkbox" id="{{$perm.Field}}" name="{{$perm.Field}}" value="true">
        <label for="{{$perm.Field}}">{{$perm.Name}}</label>
      {{end}}
      <input type="submit" value="Generate">
    </form>
  </div>
  <table>
    <tr>
      <th>Label</th>
      <th>Link</th>
      <th>Permissions</th>
      <th>Expires at</th>
      <th></th>
    </tr>
    {{range $i, $inv := .Invites}}
      <tr>
        <td>{{$inv.Label}}</td>
        <td><a href="{{$inv.Link}}">{{$inv.Link}}</a></td>
        <td>{{$inv.Perms}}</td>
        <td>{{$inv.ExpiresAt}}</td>
        <td>
          <form action="/invites" method="post">
            {{$.CSRFField}}
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="hash" value="{{$inv.Hash}}">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    {{end}}
  </table>
{{end}}
