{{define "title"}}Accept invitation{{end}}

{{define "body"}}
  <p>Hooray! You have been invited to Day 20!</p>

  <p>Please, complete the registration form to proceed.</p>

  <div class="card">
    <header>Register</header>
    <form class="htmx-form" {{template "part/post_form" (.InviteVal | printf "/invite/%v" | asURL)}} hx-target="find .errors" hx-swap="innerHTML">
      {{.CSRFField}}
      <section>
        <label>
          Username:
          <input type="text" name="username">
        </label>
        <label>
          Password:
          <input type="password" name="password">
        </label>
        <label>
          Password (again):
          <input type="password" name="password2">
        </label>
      </section>
      <footer>
        <div class="errors"></div>
        <input type="submit" value="Register">
      </footer>
    </form>
  </div>
{{end}}
