{{define "title"}}Invitations{{end}}

{{define "body"}}
  <h1>Invitations</h1>

  <section>
    <a class="button icon-arrow-left" href="{{"/profile" | asURL}}">Back</a>
  </section>

  <div class="card">
    <header>Generate invite link</header>
    <form class="htmx-form" hx-post="{{"/invites" | asURL}}" hx-target="find .errors" hx-swap="innerHTML">
      {{.CSRFField}}
      <input type="hidden" name="action" value="invite">
      <section>
        <input type="text" name="invite-label" placeholder="Label">
      </section>
      <section>
        <span>Permissions:&nbsp;</span>
        {{range $i, $perm := .Perms.Perms}}
          <label>
            <input type="checkbox" name="invite-perm-{{$perm.Kind}}" value="true">
            <span class="checkable">{{$perm.Kind.PrettyString}}</label>
          </label>
        {{end}}
      </section>
      <footer>
        <div class="errors"></div>
        <input type="submit" value="Create">
      </footer>
    </form>
  </div>

  <div class="errors" id="global-errors"></div>

  <table class="compact">
    <tr>
      <th class="expand">Link</th>
      <th class="nowrap">Permissions</th>
      <th class="nowrap">Expires</th>
      <th class="nowrap">Actions</th>
    </tr>
    {{range $i, $inv := .Invites}}
      <tr>
        <td class="expand">
          <a href="{{$inv.Link}}">{{$inv.Label}}</a>
        </td>
        <td>
          {{range $i, $perm := $inv.Perms.Perms}}
            {{if $perm.Active}}
              <div>
                <span class="label nomargin perm-{{$perm.Kind}}">{{$perm.Kind.PrettyString}}</span>
              </div>
            {{end}}
          {{end}}
        </td>
        <td class="nowrap">
          {{template "part/human_time" $inv.ExpiresAt}}
        </td>
        <td class="nowrap">
          <span class="button icon-copy" onclick="hrefToClipboard(this.closest('tr'), 'td > a')"></span>
          <form class="inline htmx-form" hx-post="{{"/invites" | asURL}}" hx-swap="none">
            {{$.CSRFField}}
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="hash" value="{{$inv.Hash}}">
            <button type="submit" class="error icon-trash"></button>
          </form>
        </td>
      </tr>
    {{end}}
  </table>
{{end}}
