{{define "title"}}Log in{{end}}

{{define "body"}}
  <div class="card">
    <header>Log in</header>
    <form class="htmx-form" hx-post="{{"/login" | asURL}}" hx-target="find .errors" hx-swap="innerHTML">
      {{.CSRFField}}

      <section>
        <label>
          Username
          <input type="text" name="username">
        </label>
        <label>
          Password
          <input type="password" name="password">
        </label>
      </section>

      <footer>
        <div class="errors"></div>
        <input type="submit" value="Log in">
      </footer>
    </form>
  </div>
{{end}}
