{{define "title"}}Your room token{{end}}

{{define "body"}}
  <section>
    <a class="button icon-arrow-left" href="{{"/roomtokens" | asURL}}">Back</a>
  </section>

  <section>
    <p>Here, you can find your new room token. Keep it secret!</p>

    <p>For security reasons, you will not be able to view this token anymore after you close this page.</p>

    <p>
      <code class="token bigger">{{.Token}}</code>
      <span class="button icon-copy" onclick="eltToClipboard(this.parentElement, '.token')"></span>
      <span class="button icon-download" onclick="eltDownload(this.parentElement, '.token', 'day20_token')"></span>
    </p>
  </section>
{{end}}
