{{define "title"}}Room Tokens{{end}}

{{define "body"}}
  <div>
    <form action="/roomtokens/new" method="post">
      <span>Generate new token:</span>
      {{.CSRFField}}
      <label for="token-label">Label:</label>
      <input type="text" name="token-label" id="token-label">
      <input type="submit" value="Generate">
    </form>
  </div>
  <table>
    <tr>
      <th>Label</th>
      <th>Hash</th>
      <th></th>
    </tr>
    {{range $i, $tok := .Tokens}}
      <tr>
        <td>{{$tok.Label}}</td>
        <td>{{$tok.Hash}}</td>
        <td>
          <form action="/roomtokens" method="post">
            {{$.CSRFField}}
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="hash" value="{{$tok.Hash}}">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    {{end}}
  </table>
{{end}}
