{{define "title"}}Room tokens{{end}}

{{define "body"}}
  <h1>Room tokens</h1>

  <section>
    <a class="button icon-arrow-left" href="{{"/profile" | asURL}}">Back</a>
  </section>

  <section>
    <form action="{{"/roomtokens/new" | asURL}}" method="post">
      {{.CSRFField}}
      <footer>
        <div class="right-tagged">
          <input type="text" required name="token-label" placeholder="Label">
          <div>
            <input type="submit" value="New token">
          </div>
        </div>
      </footer>
    </form>
  </section>

  <div class="errors" id="global-errors"></div>

  <table class="compact">
    <tr>
      <th class="expand">Label</th>
      <th>Hash</th>
      <th></th>
    </tr>
    {{range $i, $tok := .Tokens}}
      <tr>
        <td class="expand">{{$tok.Label}}</td>
        <td><code>{{$tok.ShortHash}}</code></td>
        <td>
          <form class="inline htmx-form" {{template "part/post_form" ("/roomtokens" | asURL)}} hx-swap="none">
            {{$.CSRFField}}
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="hash" value="{{$tok.FullHash}}">
            <button type="submit" class="error icon-trash"></button>
          </form>
        </td>
      </tr>
    {{end}}
  </table>
{{end}}
