{{define "title"}}{{.User.Username}}&apos;s profile{{end}}

{{define "body"}}
  <h2>{{template "part/user" .User}}</h2>

  <section>
    {{if .CanInvite}}
      <a class="button" href="{{"/invites" | asURL}}">Invitations</a>
    {{end}}

    {{if .CanHostRooms}}
      <a class="button" href="{{"/roomtokens" | asURL}}">Room tokens</a>
    {{end}}
  </section>

  {{if .CanChangePassword}}
    <div class="card">
      <header>Change password</header>
      <form class="htmx-form" hx-post="{{.User.Username | printf "/user/%v" | asURL}}" hx-target="find .errors" hx-swap="innerHTML">
        {{.CSRFField}}
        <input type="hidden" name="action" value="password">
        <section>
          <label>
            Old password:
            <input type="password" name="old-password">
          </label>
          <label>
            New password:
            <input type="password" name="new-password">
          </label>
          <label>
            New password (again):
            <input type="password" name="new-password2">
          </label>
        </section>
        <footer>
          <div class="errors"></div>
          <input type="submit" value="Save">
        </footer>
      </form>
    </div>
  {{end}}

  {{if .CanChangePerms}}
    <div class="card">
      <header>Change permissions</header>
      <form class="htmx-form" hx-post="{{.User.Username | printf "/user/%v" | asURL}}" hx-target="find .errors" hx-swap="innerHTML">
        {{.CSRFField}}
        <input type="hidden" name="action" value="perms">
        <section>
          <label>
            <input type="checkbox" name="perm-blocked" value="true" {{if .User.Perms.IsBlocked}}checked{{end}}>
            <span class="checkable">Blocked</span>
          </label>
          {{range $i, $perm := .User.Perms.Perms}}
            <label>
              <input type="checkbox" name="perm-{{$perm.Kind}}" value="true" {{if $perm.Active}}checked{{end}}>
              <span class="checkable">{{$perm.Kind.PrettyString}}</span>
            </label>
          {{end}}
        </section>
        <footer>
          <div class="errors"></div>
          <input type="submit" value="Save">
        </footer>
      </form>
    </div>
  {{end}}
{{end}}
